
@{
    ViewBag.Title = "Tower Defense - Manual";
}

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<center><h1>タワーディフェンス：取扱説明書</h1></center>

<div class="panel panel-default">
    <div class="panel-heading">ゲームの流れ</div>

    <div class="panel-body">
        道に沿って敵が拠点を壊しに来ます！<br />
        ユニットを配置して敵を退けてください！<br />
        拠点が破壊されてしまうとゲームオーバーです！<br />
        全ての敵を倒してください！<br />
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">画面説明</div>

    <div class="panel-body">
        <center>
            <p>画像をマウスオーバーすると対象の説明が出てきます。</p>
            <div class="container">
                <div class="row">

                    <div class="col-sm-6">
                        <strong>ステージ</strong><br />
                        <img src="~/Content/Image/Stage.png" id="stagePic" usemap="#stageMap" />
                        <map name="stageMap">
                            <p id="stageToolTip">
                                <area shape="rect" coords="70,127,103,160" title="<strong>ベース：</strong><br />これを守ることがこのゲームの目的です" />
                                <area shape="rect" coords="127,105,166,142" title="<strong>ユニット：</strong><br />敵を攻撃して、ベースを守ってくれます" />
                                <area shape="rect" coords="6,105,45,142" title="<strong>ソケット：</strong><br />ユニットを置くための台です" />
                                <area shape="poly" coords="75,8,233,8,233,183,180,183,180,48,75,48" title="<strong>敵：</strong><br />道の上を進んで、ベースに攻撃してきます" />
                            </p>
                        </map>
                    </div>

                    <div class="col-sm-6">
                        <strong>パネル（ボタン）</strong><br />
                        <img src="~/Content/Image/Button.png" id="buttonPic" usemap="#buttonMap" />
                        <map name="buttonMap">
                            <p id="buttonToolTip">
                                <area shape="rect" coords="15,3,242,65" title="<strong>ユニットボタン：</strong><br />ユニットを配置するためのボタンです<br/>解除するには右クリックしてください" />
                                <area shape="rect" coords="15,76,242,103" title="<strong>配置費用：</strong><br />ユニットを配置する費用です" />
                                <area shape="rect" coords="7,117,30,140" title="<strong>メニューボタン：</strong><br />ステージを一時停止させてメニューを開きます" />
                                <area shape="rect" coords="37,117,122,140" title="<strong>停止・再生・早送り：</strong><br />ステージを止めたり早送りしたりできます<br />（今は早送り機能はありません）" />
                            </p>
                        </map>

                        <strong>パネル（数値）</strong><br />
                        <img src="~/Content/Image/Value.png" id="valuePic" usemap="#valueMap" />
                        <map name="valueMap">
                            <p id="valueToolTip">
                                <area shape="rect" coords="9,6,111,31" title="<strong>Life：</strong><br />ベースの残り体力を表しています<br/>0になるとゲームオーバーです" />
                                <area shape="rect" coords="9,41,179,66" title="<strong>Wave：</strong><br />各Waveで敵の群れが出てきます<br />敵の群れが後どれだけ来るかを表します" />
                                <area shape="rect" coords="9,77,189,102" title="<strong>Money：</strong><br />プレイヤーが所持しているお金です" />
                            </p>
                        </map>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">ユニット</div>
    <center>
        <div class="panel-body">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <p><strong>種類</strong></p>
                        <p>ユニット上の数字はレベルを表しています。</p>
                        <p>
                            <table class="table-bordered">
                                <tr>
                                    <th>ユニット</th>
                                    <th>特徴</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td align="center"><img src="~/Content/Image/Weapon1.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>攻撃スピードが速い</li>
                                                <li>地上の敵しか攻撃できない</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="~/Content/Image/Weapon2.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>標準的な能力</li>
                                                <li>空中の敵しか攻撃できない</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="~/Content/Image/Weapon3.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>攻撃力と範囲がとても大きい</li>
                                                <li>地上・空中の両方の敵を攻撃できる</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p><strong>攻撃範囲</strong></p>
                        <p>ユニットにマウスを合わせると攻撃範囲が表示されます。</p>
                        <p><img src="~/Content/Image/Range.png" /></p>
                    </div>

                    <div class="col-sm-4">
                        <p><strong>ユニットメニュー</strong></p>
                        <p>
                            ユニットをクリックするとメニューが出てきます。<br />
                            （マウスオーバーでさらに説明があります。）
                        </p>
                        <img src="~/Content/Image/UnitMenu.png" id="unitMenuPic" usemap="#unitMenu" /> <br />
                        <map name="unitMenu">
                            <p id="unitMenuToolTip">
                                <area shape="rect" coords="7,13,75,80" title="<strong>アップグレード</strong><br />お金を使ってユニットをアップグレードし、強くすることができます" />
                                <area shape="poly" coords="80,13,80,80,135,80,135,22,127,22,127,13,80,13" title="<strong>売却</strong><br />ユニットを売却してお金にすることができます" />
                                <area shape="rect" coords="127,1,146,22" title="<strong>閉じる</strong><br />ユニットメニューを閉じます" />
                            </p>
                        </map>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>


<div class="panel panel-default">
    <div class="panel-heading">敵</div>
    <center>
        <div class="panel-body">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>種類</strong></p>
                        <p>緑色のバーは敵のHPを表しています。</p>
                        <p>
                            <table align="center" class="table-bordered">
                                <tr>
                                    <th>タイプ</th>
                                    <th>ユニット</th>
                                    <th>特徴</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td rowspan=3 align="center">地上</td>
                                        <td align="center"><img src="~/Content/Image/Enemy1.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>HPは少ないが、素早い</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="~/Content/Image/Enemy2.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>やや遅いが、HPは多め</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="~/Content/Image/Enemy3.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>移動速度はとても遅いが、<span style="color:red">ベースを一撃で破壊してしまう</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">空中</td>
                                        <td align="center"><img src="~/Content/Image/Enemy4.png" /></td>
                                        <td align=left>
                                            <ul>
                                                <li>空を飛んでいるので、<span style="color:red">緑の大砲では倒せない</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p><strong>出現位置</strong></p>
                        <p>敵は画面外からの道かやぶから出てきます。</p>
                        <table>
                            <tr>
                                <td align="center" style="padding-right: 30px"><img src="~/Content/Image/Entrance.png" /></td>
                                <td align="center"><img src="~/Content/Image/Bush.png" /></td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-right: 30px">画面外からの道</td>
                                <td align="center">やぶ</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>

<div class="panel panel-default">
    <div class="panel-heading">その他</div>

    <div class="panel-body">
        <div class="container">
            
            <p><strong>データ消去</strong></p>
            <p>
                スタート画面にはデータ消去のボタンがあり、押したら確認画面が出てきます。<br />
                赤い<span style="color:red">YES</span>ボタンを押すと全データを消去しますが、<br />
                <span style="color:red"><strong><u>消去したデータは戻すことができないので、使用時には気を付けてください。</u></strong></span>
            </p>
        </div>
    </div>
</div>

@* 必ず文末に置くこと *@
<script src="~/Scripts/ManualTooltips.js"></script>
