
@{
    ViewBag.Title = "Tower Defense - Manual";
}

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<center><h1>タワーディフェンス：取扱説明書</h1></center>

<div class="panel panel-default">
    <div class="panel-heading">ゲームの流れ</div>

    <div class="panel-body">
        道に沿って敵が拠点を壊しに来ます！<br />
        ユニットを配置して敵を退けてください！<br />
        拠点が破壊されてしまうとゲームオーバーです！<br />
        全ての敵を倒してください！<br />
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">画面説明</div>

    <div class="panel-body">
        <p>画像をマウスオーバーすると対象の説明が出てきます。</p>
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <center>
                        <strong>ステージ</strong><br />
                        <img src="~/Content/Image/Stage.png" id="stagePic" usemap="#stageMap" />
                        <map name="stageMap">
                            <p id="stageToolTip">
                                <area shape="rect" coords="70,127,103,160" title="<strong>ベース：</strong><br />これを守ることがこのゲームの目的です" />
                                <area shape="rect" coords="127,105,166,142" title="<strong>ユニット：</strong><br />敵を攻撃して、ベースを守ってくれます" />
                                <area shape="rect" coords="6,105,45,142" title="<strong>ソケット：</strong><br />ユニットを置くための台です" />
                                <area shape="poly" coords="75,8,233,8,233,183,180,183,180,48,75,48" title="<strong>敵：</strong><br />道の上を進んで、ベースに攻撃してきます" />
                            </p>
                        </map>
                    </center>
                </div>

                <div class="col-sm-6">
                    <center>
                        <strong>パネル（ボタン）</strong><br />
                        <img src="~/Content/Image/Button.png" id="buttonPic" usemap="#buttonMap" />
                        <map name="buttonMap">
                            <p id="buttonToolTip">
                                <area shape="rect" coords="15,3,242,103" title="<strong>ユニットボタン：</strong><br />ユニットを配置するためのボタンです<br/>（金額はユニットを配置する費用です）" />
                                <area shape="rect" coords="7,117,30,140" title="<strong>メニューボタン：</strong><br />ステージを一時停止させてメニューを開きます" />
                                <area shape="rect" coords="37,117,122,140" title="<strong>停止・再生・早送り：</strong><br />ステージを止めたり早送りしたりできます<br />（今は早送り機能はありません）" />
                            </p>
                        </map>

                        <strong>パネル（数値）</strong><br />
                        <img src="~/Content/Image/Value.png" id="valuePic" usemap="#valueMap" />
                        <map name="valueMap">
                            <p id="valueToolTip">
                                <area shape="rect" coords="9,6,111,31" title="<strong>Life：</strong><br />ベースの残り体力を表しています<br/>0になるとゲームオーバーです" />
                                <area shape="rect" coords="9,41,179,66" title="<strong>Wave：</strong><br />各Waveで敵の群れが出てきます<br />敵の群れが後どれだけ来るかを表します" />
                                <area shape="rect" coords="9,77,189,102" title="<strong>Money：</strong><br />プレイヤーが所持しているお金です" />
                            </p>
                        </map>
                    </center>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ManualTooltips.js"></script>



<div class="panel panel-default">
    <div class="panel-heading">ユニット</div>

    <div class="panel-body">
        <table class="table-bordered">
            <tr>
                <th>ユニット</th>
                <th>特徴</th>
            </tr>
            <tbody>
                <tr>
                    <td align="center"><img src="~/Content/Image/Weapon1.png" /></td>
                    <td align=left>
                        <ul>
                            <li>攻撃スピードが速い</li>
                            <li>地上の敵しか攻撃できない</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td align="center"><img src="~/Content/Image/Weapon2.png" /></td>
                    <td align=left>
                        <ul>
                            <li>標準的な能力</li>
                            <li>空中の敵しか攻撃できない</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td align="center"><img src="~/Content/Image/Weapon3.png" /></td>
                    <td align=left>
                        <ul>
                            <li>攻撃力と範囲がとても大きい</li>
                            <li>地上・空中の両方の敵を攻撃できる</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ul>
    <li>
        種類<br />

    </li>
    <li>
        攻撃範囲<br />
        ユニットにマウスを合わせると攻撃範囲が表示されます
    </li>
    <li>
        ユニットメニュー<br />
        ユニットをクリックするとメニューが出てきます
        <ul>
            <li>
                アップグレード<br />
                お金を使ってユニットをアップグレードし、強くすることができます<br />
            </li>
            <li>
                売却<br />
                ユニットを売却してお金にすることができます<br />
            </li>
        </ul>
    </li>
</ul>




<h3>・敵</h3>
<table border=1>
    <tr>
        <td>タイプ</td>
        <td>ユニット</td>
        <td>特徴</td>
    </tr>
    <tr>
        <td rowspan=3>地上</td>
        <td><img src="~/Content/Image/Enemy1.png" /></td>
        <td align=left>
            <ul>
                <li>HPは少ないが、素早い</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><img src="~/Content/Image/Enemy2.png" /></td>
        <td align=left>
            <ul>
                <li>敵1よりは遅いが、HPは多め</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><img src="~/Content/Image/Enemy3.png" /></td>
        <td align=left>
            <ul>
                <li>とても移動速度は遅いが、ベースに与えるダメージはとても大きい</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>空中</td>
        <td><img src="~/Content/Image/Enemy4.png" /></td>
        <td align=left>
            <ul>
                <li>空を飛んでいるので、緑の砲台では倒せない</li>
            </ul>
        </td>


    </tr>
</table>


<h3>・その他</h3>
<p>データ消去</p>
