@{
    ViewBag.Title = "本サイトについて";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    本サイトは技術研修の一環として、約一ヶ月でWeb上で遊べるゲームを作成しました。<br />
    Webだからこそ、社内の皆様に楽しく遊んでいただければと思います。<br />
</p>
<p>技術として、このサイトはMVC5で、ゲーム本体はUnityで作成しました。</p>
