@{
    ViewBag.Title = "本サイトについて";
}

<br />

<div class="panel panel-info">
    <div class="panel-heading">経緯</div>
    <div class="panel-body">
        <p>
            本サイトは技術研修の一環として、約一ヶ月でWeb上で遊べるゲームを作成しました。<br />
            Webだからこそ、社内の皆様に楽しく遊んでいただければと思います。
        </p>
        <p>※このサイトはMVC5およびUnityで作成しました。</p>
    </div>
</div>
