@{
    ViewBag.Title = "ご意見・お問い合わせ";
}

<br />

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <address>
            <strong>高輪オフィス</strong><br />
            瀬嵜康大<br />
            <a href="mailto:yasuhiro.sezaki@diva.co.jp">yasuhiro.sezaki@diva.co.jp</a>
        </address>

        <address>
            <strong>大森オフィス</strong>（内線：2314）<br />
            池邊俊<br />
            <a href="mailto:shun.ikebe@diva.co.jp">shun.ikebe@diva.co.jp</a><br />
            Christopher Lo<br />
            <a href="mailto:christopher.lo@diva.co.jp">christopher.lo@diva.co.jp</a><br />
        </address>
    </div>
</div>