@{
    ViewBag.Title = "ようこそ";
}

<div class="jumbotron">
    <p><img src="~/Content/Image/Title.jpg" /></p>
    <p>へようこそ！</p><br />
    <p class="lead">疲れた時にはゲームへ @Html.ActionLink("GO! »", "GameSelection", "Home", null, new { @class = "btn btn-primary btn-lg" })
</p>
</div>

<div>
    <p>※このサイトはMozilla FirefoxかGoogle Chromeで、解像度1366x768以上で動かして下さい。</p><br />
</div>