@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DIVAゲームセンター</h1>
    <p class="lead">疲れた時に…</p>
    <p>@Html.ActionLink("ゲームへGO! »", "GameSelection", "Home", new { @class = "btn btn-primary btn-lg" })
</p>
</div>