@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DIVAゲームセンター</h1>
    <p class="lead">疲れた時には…</p>
    <p>@Html.ActionLink("ゲームへGO! »", "GameSelection", "Home", null, new { @class = "btn btn-game btn-lg" })
</p>
</div>

<div>
    <p>※このサイトはMozilla FirefoxかGoogle Chromeで、解像度1024x768以上で動かして下さい。</p><br />
</div>