@using WebTD.Helpers;

@{
    ViewBag.Title = "Tower Defense";
}

<br />

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Unity WebGL Player | Tower Defense</title>
<link rel="shortcut icon" href="~/Scripts/TemplateData/favicon.ico">
<link rel="stylesheet" href="~/Scripts/TemplateData/style.css">
<link rel="home" id="ApplicationRoot" href="~/" />
@Scripts.Render("~/bundles/unity")

<script>
    function getHome() {
        return document.getElementById("ApplicationRoot").href
    }
    var gameInstance = UnityLoader.instantiate("gameContainer", getHome() + "/Scripts/Build/TowerDefense.json", { onProgress: UnityProgress });
</script>


@* Modal表示 *@
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" style="left:5%; width: 90%">
</div>

<script src="~/Scripts/Modal-Container.js"></script>


<center>
    <p>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="gameContainer" style="width: 800px; height: 600px; margin: auto"></div>
                </div>
            </div>
        </div>
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="text-align:left">
                @Html.MenuLink("« ゲーム選択画面へ戻る", "GameSelection", "Home")
            </div>
            <div class="col-sm-6" style="text-align:right">
                @Html.ActionLink("遊び方", "PartialTowerDefense", "Manual", null, new { @class = "modal-link" })
            </div>
        </div>
    </div>
</center>

@* ページ移動を確認 *@
<script>
    window.onbeforeunload = function () {
        return true;
    }
</script>